<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar aluno</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

        <form action="{% url 'criar_aluno' %}" method="POST"> {% csrf_token %}

            <br>
            <label for="">Nome:</label>
            <input type="text" name="nome" class="form-control" placeholder="Digite seu nome aqui"><br>

            <label for="">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Digite seu email aqui"><br>

            <input type="submit" value="Cadastrar aluno" class="btn btn-succes">

        </form>
        <hr>
        
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">nome</th>
                <th scope="col">email</th>
                <th scope="col"></th>
                <th scope="col"></th>

              </tr>
            </thead>
            <tbody>
                {% for aluno in alunos %}
                    <tr>
                        <td>
                            <form action="{% url 'atualizar_aluno' aluno.id %}" method="POST"></form> {% csrf_token %}
                            <input type="text" name="nome" value="{{aluno.nome}}" class="form-control">
                        </td>

                        <td>
                            <input type="email" name="email" value="{{aluno.email}}" class="form-control">
                        </td>

                        <td>
                            <input type="submit" value="Atualizar" class="btn btn-primary">
                        </td>

                        <td>
                            <a href="{% url 'deletar_aluno' aluno.id %}" class="btn btn-danger">Deletar</a>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
  </body>
</html>